{% extends "layoutAdmin.html.twig" %}

{% block title %}
	{{parent()}}
	| Ajouter Circuits
{% endblock %}

{% block content %}
	<section class="section-form">
		<div class="container h-100">
			<div class="row d-flex justify-content-center align-items-center h-100">
				<div class="col col-xl-10">
					<div class="card shadow-lg">
						<div class="row g-0">
							<div class="col-md-10 col-lg-11 m-auto d-flex align-items-center">
								<div class="card-body p-4 p-lg-5 text-black">
									{% include "formAdminCircuit.html.twig" with {'title': 'Ajout circuit admin', 'btn': 'Ajouter'} %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
        </div>    
	</section>
{% endblock %}
