{% extends "layout.html.twig" %}

{% block stylesheet %}
	<link rel="stylesheet" href="/../assets/css/circuits.css">
{% endblock %}

{% block title %}
	{{parent()}}
	| Circuits
{% endblock %}

{% block content %}
	<section>
		<div class="container-fluid bg-secondary py-5 vh-100">
			<div class="d-flex justify-content-center p-4">
				<h1>Nos Circuits</h1>
			</div>
			<div class="px-5 py-3">
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis optio adipisci ratione, nulla non ullam aut voluptatum odit corporis dolor ducimus. Ratione recusandae maxime laboriosam, non libero, quae iure numquam tempore ad earum necessitatibus illum tempora excepturi mollitia sint fuga?</p>
			</div>
			<div class="container">
				<div class="row">
				{% for circuit in circuits %}	
					<div class="card bg-primary text-white col-lg-4 p-0 rounded-3 m-4 w-25 h-25">
						<img src="/../assets/images/fall-g02112eec4_1280.jpg" class="card-img img-responsive" alt="image_circuits">
						<div class="card-img-overlay">
							<h5 class="card-title">{{circuit.title}}</h5>
							<p class="card-text">{{circuit.size}}</p>
							<p class="card-text">{{circuit.trace}}</p>
						</div>
					</div>
				{% endfor %}
				</div>
			</div>
		</div>
	</section>
{% endblock %}
