{% extends "layout.html.twig" %}

{% block content %}
    <section>
        <h1>Nos Circuits</h1>
        <div class="card text-white">
            <img src="" alt="">
            <div class="card-img-overlay">
                <h5 class="card-title">Nom Circuit</h5>
                <p class="card-text">6,5 Km</p>
            </div>
        </div>
    </section>
{% endblock %}