{% extends "layout.html.twig" %}

{% block content %}
    <section>
        <h1>Nos Circuits</h1>
        <div>
            <img src="" alt="">
            <p></p>
        </div>
    </section>
{% endblock %}