{% extends "layout.html.twig" %}

{% block title %}
	{{parent()}}
	| Connexion
{% endblock %}

{% block content %}
	<div class="container vh-100">
		<div class="row">
			<div class="col-10 m-auto">
				<h1 class="text-center p-4">Connexion Administrateur</h1>
				<div class="card p-5">
					<form action="" method="post">

						{% if errors %}
							<ul>
								{% for error in errors %}
									<li>{{error}}</li>
								{% endfor %}
							</ul>
						{% endif %}
						<div class="col-10 mb-4 pb-4 m-auto">
							<div class="row d-flex justify-content-around">
								<label class="form-label" for="email">Adresse e-mail :</label>
								<input class="form-control" type="email" id="email" name="email">
							</div>
						</div>
						<div class="col-10 mb-4 pb-4 m-auto">
							<div class="row d-flex justify-content-around">
								<label class="form-label" for="password">Mot de passe :</label>
								<input class="form-control" type="password" id="password" name="password">
							</div>
						</div>
						<div class="col-10  pb-4 col-sm-4 m-auto text-center">
							<button class="btn bg-primary w-100 text-white">Connexion</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
