
{% extends 'layoutAdmin.html.twig' %}

{% block stylesheet %}
{% endblock %}
{% block title %}
	{{parent()}}
	| Paysages
{% endblock %}

{% block content %}
<h1>Ajout paysage admin</h1>
<ul>
{% for error in errors %}
  <li>{{error}}</li>
{% endfor %}
</ul>
<form action="" method="post" enctype="multipart/form-data" class="container">
    <div class="mb-3">	
      <label for="title" class="form-label">Titre :</label>
      <input type="text" name="title" id="title" class="form-control" placeholder="Titre à renseigner">
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description :</label>
      <input type="text" name="description" id="description" class="form-control" placeholder="Ajouter Descriptif">
    </div>
    <div class="mb-3">
      <label for="picture" class="form-label">Image :</label>
      <input type="file" name="picture" id="picture" class="form-control">
    </div>
    <button class="btn btn-primary">Ajouter</button>
</form>
{% endblock %}