{% extends "layoutAdmin.html.twig" %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/indexAdmin.css">
{% endblock %}

{% block title %}
	{{ parent() }}
	| Paysages
{% endblock %}

{% block content %}
	<div class="container block-form vh-100">
		<div class="row pt-4">
			<h1 class="text-center">Paysages Version Admin</h1>
			<div class="col-sm-10 m-auto">
				<div class="card card-admin shadow-lg mt-4 overflow-auto">
					<div class="d-flex justify-content-center align-items-center p-4">
						<a class="btn btn-lg col-12 btn-success d-flex justify-content-center align-items-center gap-1" role="button" href="/admin/paysages/add">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewbox="0 0 16 16">
								<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
								<path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
							</svg>
							Ajouter
						</a>
					</div>
					<ul class="p-4 pt-0">
						{% for landscape in landscapes %}
							<li class="d-flex justify-content-between align-items-center mt-4">
								{{landscape.title}}
								<div class="link-admin d-flex gap-3 align-items-center">
									<div class="edit-btn">
										<a href="/admin/paysages/edit?id={{landscape.id}}" class="btn btn-outline-success d-flex justify-content-center align-items-center gap-1">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewbox="0 0 16 16">
												<path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
											</svg>
											Editer
										</a>
									</div>
									<form action="admin/paysages/delete" method="POST" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ?')">
										<input type="hidden" name="id" value="{{ landscape.id }}">
										<button class="btn btn-outline-danger d-flex justify-content-center align-items-center gap-1">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewbox="0 0 16 16">
												<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
												<path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
											</svg>
											Supprimer
										</button>
									</form>
								</div>
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
