{% extends "layoutAdmin.html.twig" %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/landscape-index.css">
{% endblock %}

{% block title %}
	{{ parent() }}
	| Paysages
{% endblock %}

{% block content %}
	<div class="container block-form vh-100">
		<div class="row pt-4">
			<h1 class="text-center">Paysages Version Admin</h1>
			<div class="col-sm-10 m-auto">
				<div class="card card-admin mt-4 overflow-auto">
					<ul class="p-4">
						{% for landscape in landscapes %}
							<li class="d-flex justify-content-between align-items-center mt-4">
								{{landscape.title}}
								<div class="link-admin d-flex gap-3 align-items-center">
									<a class="btn btn-primary" href="edit?id={{ landscape.id }}">Éditer</a>
									<form action="delete" method="POST">
										<input type="hidden" name="id" value="{{ landscape.id }}">
										<button class="btn btn-danger">Supprimer</button>
									</form>
								</div>
							</li>
						{% endfor %}
					</ul>
				</div>
				<a class="btn btn-secondary mt-3" href="/admin/paysages/add">Ajouter</a>
			</div>
		</div>
	</div>
{% endblock %}
