{% extends 'layout.html.twig' %}

{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/index.css">
{% endblock %}

{% block title %}
	{{parent()}}
	| Landscapes
{% endblock %}


{% block content %}

<body class="bg-secondary">
    {% for landscape in landscapes %}
    <div class="d-flex justify-content-center mt-5">
        <div class="card border-0 mb-5 mt-5 w-75 ">
            <div class="row ">
                <div class="col-md-4 d-md-flex align-self-center ">
                    <img src="/assets/images/{{ landscape.picture_link }}" class="card-img bg-secondary img-fluid rounded-start " alt="riviere">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h1 class="card-title text-center fw-bold mt-3 mb-5">{{landscape.title}} </h1>
                        <p class="card-text">{{landscape.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</body>

{% endblock %}