{% extends 'layout.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/landscape-index.css">
{% endblock %}

{% block content %}
	<section class="section-land">
		<div class="container mt-4 h-100">
		<h1 class="text-center p-4">Les paysages</h1>
		{% for landscape in landscapes %}
			<div class="activitySection">
				<div class="card p-0 mb-5">
					<div class="row">
						<div class="col-lg-5 landscapeImg m-auto {{loop.index is odd ? 'order-2' : ''}}">
							<img class="w-100 h-100 rounded" src={{ landscape.picture_link is null ? '/assets/images/imgPlaceHolder.jpg' : "/uploads/" ~ landscape.picture_link }} alt="Image de paysage">
						</div>
						<div class="col-lg-7 m-auto">
							<h2 class="px-5 py-3 text-center">{{ landscape.title}}</h2>
							<p class="px-5 py-3">{{ landscape.description}}</p>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
	</section>
{% endblock %}
