
{% extends 'layout.html.twig' %}

{% block header %}
    <div>
        <nav class="navbar">
            <ul><a href="#"></a>Activité</ul>
            <ul><a href="#"></a>Circuits</ul>
            <ul><a href="#"></a>Contact</ul>
             
        </nav>
    </div>
    {% endblock %}