


<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
            aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4"
            aria-label="Slide 5"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="assets/images/herisson.jpg" class="d-block m-auto" alt="images d' un hérisson">
            <div class="carousel-caption d-none d-md-block">
                <a class="link-light"
                    href="https://commons.wikimedia.org/wiki/File:West_European_Hedgehog_(Erinaceus_europaeus)1.jpg">
                    <h5>Hérisson d'Europe occidentale</h5>
                    <p></p>
                </a>
            </div>
        </div>
        <div class="carousel-item">
            <img src="assets/images/Elio.jpg" class="d-block  m-auto" alt="image de sourie">
            <div class="carousel-caption d-none d-md-block">
                <a class="link-light" href="https://commons.wikimedia.org/wiki/File:Eliomys_quercinus01.jpg">
                    <h5>Eliomys quercinus</h5>
                    <p></p>
                </a>
            </div>
        </div>
        <div class="carousel-item">
            <img src="assets/images/felix1.jpg" class="d-block  m-auto" alt="image d'un chat">
            <div class="carousel-caption d-none d-md-block ">
                <a class="link-light"
                    href="https://commons.wikimedia.org/wiki/File:Felis_silvestris_Kocka_divok%C3%A1_zoo_cropped.jpg">
                    <h5>Le Chat forestier ou Chat sauvage</h5>
                    <p></p>
                </a>
            </div>
        </div>
        <div class="carousel-item">
            <img src="assets/images/glis.jpg" class="d-block m-auto" alt="image de sourie">
            <div class="carousel-caption d-none d-md-block">
                <a class="link-light" href="https://commons.wikimedia.org/wiki/File:Glis_glis_4058.JPG">
                    <h5> Le Loir gris</h5>
                    <p></p>
                </a>
            </div>
        </div>
        <div class="carousel-item">
            <img src="assets/images/Hazel1.jpg" class="d-block m-auto" alt="image de sourie">
            <div class="carousel-caption d-none d-md-block">
                <a class="link-light"
                    href="https://commons.wikimedia.org/wiki/File:Hazel_dormouse_(Muscardinus_avellanarius),_Skole,_Lviv_Oblast,_Ukraine_(48236079657).jpg">
                    <h5>Hazel dormouse </h5>
                    <p></p>
                </a>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Précedent</span>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Suivant</span>
    </button>
</div>

