{% extends 'layout.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/index.css">
{% endblock %}

{% block content %}

	<section class="container-fluid d-flex p-0">
		<img class="col-6" src="/assets/images/home-forest.jpeg" alt="Image d'une forêt">
		<img class="col-6" src="/assets/images/home-bird.jpg" alt="Image d'une forêt">
	</section>


{% endblock %}
