{% extends 'layout.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/index.css">
{% endblock %}

{% block content %}
	<section class="d-flex vw-100 vh-100">
		<div class="home-wrapper-left">
			<img class="home home-img-left" src="/assets/images/home-bird.jpg" alt="Image d'un oiseau">
			<div class="card-img-overlay d-none d-sm-flex justify-content-start align-items-end">
				<a class="btn bg-dark text-white fs-2 fw-bold links" href="/activity">ACTIVITÉS</a>
			</div>
		</div>
		<div class="home home-wrapper-right">
			<img class="home-img-right" src="/assets/images/home-forest.jpg" alt="Image d'une forêt">
			<div class="card-img-overlay d-none d-sm-flex justify-content-end align-items-end">
				<a class="btn bg-dark text-white fs-2 fw-bold links" href="/circuits">CIRCUITS</a>
			</div>
		</div>
	</div>
</section>

<div class="container-fluid">
	<div class="card my-5 col-11 m-auto">
		<div class="row">
			<div class="col-md-4">
				<img src="/assets/images/lest.jpg" class="card-img img-fluid h-100 w-auto" alt="Randonneurs en forêt">
			</div>
			<div class="col-md-8">
				<div class="card-body">
					<h1 class="card-title text-center mt-3 mb-4">Présentation de l'association</h1>
					<p class="card-text mb-3">L’association Les Corbeaux - Gâtinais Nature, fondée en décembre 1981, a pour but de faire connaître et respecter la nature, de faciliter les études et recherches dans le domaine des sciences naturelles, de préserver la faune, la flore et les sites nécessaires à leur conservation, et d’éduquer le public dans tous les domaines touchant la nature.
					</p>
					<p>Son terrain d’étude couvre le Gâtinais de l’Est du Loiret. Elle organise également des sorties sur le terrain, des expositions et des animations.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<h2 class="text-center fw-bold mt-5 mb-4">Membres de l'association</h2>

<div class="container-fluid text-center">
	<div class="row">
		<div class="col-sm my-3">
			<img src="/assets/images/president.png" alt="Photo du président" class="rounded-circle">
			<h2 class="mt-4 fw-bold">Philippe Doré</h2>
			<h3 class="fst-italic">Président</h3>
		</div>
		<div class="col-sm my-3">
			<img src="/assets/images/tresorier.png" alt="Photo du trésorier" class="rounded-circle">
			<h2 class="mt-4 fw-bold">John Doe</h2>
			<h3 class="fst-italic">Trésorier</h3>
		</div>
		<div class="col-sm my-3">
			<img src="/assets/images/secretaire.png" alt="Photo de la secrétaire" class="rounded-circle">
			<h2 class="mt-4 fw-bold">Jane Doe</h2>
			<h3 class="fst-italic">Secrétaire</h3>
		</div>
	</div>
</div>{% endblock %}
