{% extends 'layout.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/index.css">
{% endblock %}

{% block content %}
	<body class="bg-secondary">

		<div class="d-flex justify-content-center mt-5">
			<div class="card border-0 mb-5 mt-5 w-75">
				<div class="row no-gutters">
					<div class="col-md-4">
						<img src="/assets/images/presentation.jpg" class="card-img img-fluid" alt="Famille en forêt">
					</div>
					<div class="col-md-8">
						<div class="card-body p-4">
							<h1 class="card-title text-center fw-bold mt-2 mt-md-3 mb-4">Présentation de l'association</h1>
							<p class="card-text">L’association Les Corbeaux - Gâtinais Nature, fondée en décembre 1981, a pour but de faire connaître et respecter la nature, de faciliter les études et recherches dans le domaine des sciences naturelles, de préserver la faune, la flore et les sites nécessaires à leur conservation, et d’éduquer le public dans tous les domaines touchant la nature. Son terrain d’étude couvre le Gâtinais de l’Est du Loiret. Elle organise également des sorties sur le terrain, des expositions et des animations.</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<h1 class="text-center fw-bold mt-5">Membres du bureau</h1>

		<div class="staff d-flex flex-column flex-md-row justify-content-center text-center mt-4 mt-md-3 mb-4">
			<div class="p-3 p-md-5">
				<img src="/assets/images/president.png" alt="Photo du président" class="rounded-circle img-fluid">
				<h2 class="mt-4 fw-bold">Philippe Doré</h2>
				<h3 class="fst-italic">Président</h3>
			</div>
			<div class="p-3 p-md-5">
				<img src="/assets/images/tresorier.png" alt="Photo du trésorier" class="rounded-circle img-fluid">
				<h2 class="mt-4 fw-bold">John Doe</h2>
				<h3 class="fst-italic">Trésorier</h3>
			</div>
			<div class="p-3 p-md-5">
				<img src="/assets/images/secretaire.png" alt="Photo de la secrétaire" class="rounded-circle img-fluid">
				<h2 class="mt-4 fw-bold">Jane Doe</h2>
				<h3 class="fst-italic">Secrétaire</h3>
			</div>
		</div>

	</body>

{% endblock %}
