{% extends 'layout.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/index.css">
{% endblock %}

{% block content %}

	<section class="container-fluid d-flex">
		<div class="row">
			<img class="col-6 p-0" src="/assets/images/home-forest.jpg" alt="Image d'une forêt">
			<img class="col-6 p-0" src="/assets/images/home-bird.jpg" alt="Image d'un oiseau">
			<div class="links d-flex justify-content-start align-self-end">
				<button class="link1" href="/circuits">Circuits</button>
			</div>
			<div class="links d-flex justify-content-end align-self-end">
				<button class="link2" href="/activity">Activités</button>
			</div>
		</div>
	</section>


{% endblock %}
