{% extends 'layout.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/index.css">
{% endblock %}

{% block content %}

	<section class="container-fluid d-flex">
		<div class="row">
			<img class="col-6 p-0" src="/assets/images/home-forest.jpg" alt="Image d'une forêt">
			<img class="col-6 p-0" src="/assets/images/home-bird.jpg" alt="Image d'un oiseau">
			<button class="btn bg-dark text-white fs-2 fw-bold link1" href="/circuits">CIRCUITS</button>
			<button class="btn bg-dark text-white fs-2 fw-bold link2" href="/activity">ACTIVITÉS</button>
		</div>
	</section>

{% endblock %}
