{% extends 'layout.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/index.css">
{% endblock %}

{% block content %}
<section class="container-fluid d-flex">
    <img src="/assets/images/home-forest.png">
    <img src="/assets/images/home-bird.png">
</section>

{% endblock %}
