{% extends 'layout.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/index.css">
{% endblock %}

{% block content %}

		<div class="forest">
			<img src="/assets/images/home-forest.png" alt="Image d'une forêt">

			<div class="link">
				<button>Circuits</button>
			</div>
		</div>

        <div class="image">
			<img src="/assets/images/home-bird.png" alt="Image d'une forêt">

			<div class="link">
				<button>Activités</button>
			</div>
		</div>

	{% endblock %}
