{% extends 'layout.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/index.css">
{% endblock %}

{% block content %}

	<section class="d-flex">
		<img src="../assets/images/home-circuit.png" alt="Image d'une forêt"/>
		<img src="../assets/images/home-bird.png" alt="Image d'un oiseau"/>
	</div>
</section>

{% endblock %}