body {
    background-color: rgb(var(--bs-secondary-rgb));
}

.activityImg {
    width: 25rem;
}

@media screen and (max-width:400px) {
    .activitySection {
        background-image: url("https://img.freepik.com/photos-gratuite/route-etroite-dans-champ-herbeux-vert-entoure-arbres-verts-soleil-eclatant-arriere-plan_181624-9968.jpg?w=2000");
        color: whitesmoke;
    }

    .essai {}

    .activityImg {
        display: none;
    }
}