.carousel-indicators{
    position: relative;
}

.img-fluid{
    min-height: 100%;
}

.content-card{
    --bs-bg-opacity: .5;
}

.card-img-overlay{
    display: flex;
    flex-direction: column;
    justify-content: end;
}

@media screen and (min-width: 768px) {
    .card-circuit{
        width: 75%!important;
    }
}