.content-section{
    min-height: 100vh;
}

.link-cards {
    text-decoration: none;
    color: var(--bs-white);
}

.img-circuit{
    height: 276px;
}

.card-title-circuit:hover{
    text-decoration: underline;
}

.card-img-circuit:hover{
    color: var(--bs-white);
}

.card-img-circuit{
    text-shadow: 2px 2px 2px var(--bs-dark);
}

.card a img{
    -webkit-filter: grayscale(75%);
    filter: grayscale(75%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    object-fit: cover;
}

.card a:hover img{
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}