.carousel-indicators{
    position: relative;
}

.img-fluid{
    min-height: 100%;
}

.content-card{
    --bs-bg-opacity: .5;
}

.card-img-overlay{
    display: flex;
    flex-direction: column;
    justify-content: end;
}