.content-section{
    min-height: 100vh;
    background-color: var(--bs-secondary);
}

.link-cards {
    text-decoration: none;
    color: var(--bs-white);
}

.img-circuit{
    height: 276px;
}

.card-title-circuit:hover{
    text-decoration: underline;
}

.card-img-circuit:hover{
    color: var(--bs-white);
}

.card-img-circuit{
    text-shadow: 2px 2px 2px var(--bs-dark);
}