body {
    font-family: var(--bs-font-family);
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

footer {
    position: absolute;
}

button.bg-secondary {
    --bs-bg-opacity: 0.2;
}

button {
    width: 13rem;
    height: 2.5rem;
    font-weight: 900;
}