body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

footer {
    position: absolute;
}

button {
    width: 13rem;
    height: 2.5rem;
    opacity: 15%;
}