.title-nav a {
    text-decoration: none;
    color: var(--bs-white);
}

.title-nav a:hover{
    color: var(--bs-secondary);
}

.nav-link:hover {
    background-color: var(--bs-success);
    border-radius: 4px;
}
