img {
    position: relative;
}

div.links {
    display: flex;
    position: absolute;
}

.link1 {
    position: absolute;
    width: 15%;
    bottom: 5em;
    left: 20em;
}

.link2 {
    position: absolute;
    width: 15%;
    bottom: 5em;
    right: 20em;
}