.links {
    border: 1.5px solid white;
    z-index: 2;
}

.home {
    z-index: 1;
}

button.bg-dark {
    --bs-bg-opacity: 0.9;
}

.home-wrapper-left {
    width: 100%;
    height: 50%;
}

.home-img-left {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.home-wrapper-right {
    width: 100%;
    height: 50%;
}

.home-img-right {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

section {
    flex-direction: column;
}

@media screen and (min-width: 576px) {
    .home-wrapper-left {
        width: 50%;
        height: 100%;
    }

    .home-wrapper-right {
        width: 50%;
        height: 100%;
    }

    section {
        flex-direction: row;
    }
}