@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;600;700;800&family=Raleway:ital,wght@0,300;0,400;0,600;0,700;0,800;1,200&display=swap');

:root{
    /* Color Main Dark */
    --bs-primary-rgb: 30, 45, 33;
    --bs-primary: rgb(var(--bs-primary-rgb));

    /* Color Main Light */
    --bs-secondary-rgb: 188, 200, 193;
    --bs-secondary: rgb(var(--bs-secondary-rgb));
    
    /* Color Main intermediaire */
    --bs-success-rgb: 60, 83, 60;
    --bs-success: rgb(var(--bs-success-rgb));

    /* Color white */
    --bs-white: rgb(231, 231, 231);

    /* Color black */
    --bs-black: rgb(32, 32, 32);

    /* Fonts Family*/
    --bs-font-family-body: 'Raleway', sans-serif;
    --bs-font-family-title: 'Merriweather Sans', sans-serif;

    /* Fonts Size Title - Bold*/
    --font-size-title: 34px;
    --font-size-header-title: 40px;
    --font-weight-title: bold;

    /* Fonts Size body - Regular*/
    --font-size-body: 25px;
    --font-size-header-nav: 33px;

    /* Body */
    --line-height-body: 150%;
    --bg-texture: url('/../assets/images/purty-wood.png');
}

body{
    line-height: var(--line-height-body);
    background-image: var(--bg-texture);
    background-color: var(--bs-secondary);

    font-family: var(--bs-font-family-body);
}

h1, h2, h3 {
    font-family: var(--bs-font-family-title);
}