@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

:root{
    /* Color Main Dark */
    --bs-primary-rgb: 30, 45, 33;
    --bs-primary: rgb(var(--bs-green-dark-rgb));

    /* Color Main Light */
    --bs-secondary-rgb: 188, 200, 193;
    --bs-secondary: rgb(var(--bs-secondary-rgb));
    
    /* Color Main intermediaire */
    --bs-success-rgb: 60, 83, 60;
    --bs-success: rgb(var(--bs-success-rgb));

    /* Fonts */
    --bs-font-family: 'Raleway', sans-serif;
}