{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/footer.css">
{% endblock %}

{% block footer %}

	<footer class="container-fluid bg-primary">
		<div class="row">
			<div class="col-12 col-sm-4 text-white text-center p-4">
				<h2 class="mb-3">E-MAIL</h2>
				<p class="pt-4 mb-0">gatinaisnature@orange.fr</p>
			</div>
			<div class="col-12 col-sm-4 text-white text-center p-4">
				<h2 class="mb-3">ADRESSE</h2>
				<p class="mb-0 fst-italic">Association</p>
				<p class="mb-0">Les Corbeaux - Gâtinais Nature</p>
				<p class="mb-0">B.P : 924 - 45200 Amilly</p>
			</div>
			<div class="col-12 col-sm-4 text-white text-center p-4">
				<h2 class="mb-3">TELEPHONE</h2>
				<p class="pt-4 mb-0">06.71.47.52.21</p>
			</div>
		</div>
		<div class="row bg-black">
			<div class="col-12 col-sm-4 m-auto text-center">
				<a class="text-decoration-none fst-italic text-white" href="#">Se connecter</a>
				<span class="text-white">|</span>
				<a class="text-decoration-none text-white" href="#">Mention légales</a>
			</div>
		</div>
	</footer>

{% endblock %}

{# <div class="container p-4">
				<div class="row">
					<div class="col-6">
						<address class="text-white text-center mt-3 text-decoration-none">
							<p>Association<br>Les Corbeaux - Gâtinais Nature<br> B.P. 924 - 45800 Amilly</p>
							<p>Téléphone : 06 71 47 52 21</p>
							<p>E-mail : gatinaisnature@orange.fr</p>
						</address>
					</div>
					<div class="col-6 d-flex flex-column align-items-center justify-content-center">
						<ul class="list-unstyled mb-0">
							<li class="mb-5">
								<a type="button" class="button-footer btn bg-secondary text-white font-weight-bold">Se connecter</a>
							</li>
							<li class="mt-5">
								<a type="button" href="" class="button-footer btn bg-secondary text-white">Mentions légales</a>
							</li>
						</ul>
					</div>
				</div>
			</div> #}