{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/header.css">
{% endblock %}

{% block header %}

	<nav class="navbar navbar-expand-lg p-0">
		<div class="container-fluid bg-primary p-4">
			<h1 class="navbar-brand title-nav text-white p-0 m-0"><a href="/">Les Corbeaux - Gâtinais Nature</a></h1>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="navbar-nav">
				<a class="nav-link active text-white" aria-current="page" href="/activity">Activités</a>
				<a class="nav-link text-white" href="/circuits">Circuits</a>
				<a class="nav-link text-white" href="/contact">Contact</a>
			</div>

		</div>
	</nav>

{% endblock %}
