{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/header.css">
{% endblock %}

{% block header %}

	<nav class="navbar sticky-top navbar-expand-lg p-0">
		<div class="container-fluid bg-primary py-4">
			<div class="title-nav">
			<h1 class="navbar-brand p-0 m-0">
				<a href="/">Les Corbeaux - Gâtinais Nature</a>
			</h1>
			</div>
			<button class="navbar-toggler p-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse justify-content-end" id="navbarSupportContent">
				<ul class="navbar-nav text-center">
					<li class="nav-item">
						<a class="nav-link active text-white" aria-current="page" href="/activites">Activités</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-white" href="/circuits">Circuits</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-white" href="/contact">Contact</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

{% endblock %}
