{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/header.css">
{% endblock %}

{% block header %}

	<nav class="navbar sticky-top navbar-expand-lg p-0">
		<div class="container-fluid bg-primary p-4">
			<h1 class="navbar-brand title-nav  pb-1 m-0">
				<a href="/logout">Se déconnecter</a>
			</h1>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse justify-content-end" id="navbarSupportContent">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link active text-white" aria-current="page" href="/admin/activites/index">Activités</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-white" href="/admin/circuits/index">Circuits</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-white" href="/admin/evenements/index">Evenements</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-white" href="/admin/especes/index">Espèces</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-white" href="/admin/paysages/index">Paysages</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

{% endblock %}
