{% extends "layoutAdmin.html.twig" %}

{% block stylesheet %}
	<link rel="stylesheet" href="/../assets/css/organism.css">
{% endblock %}

{% block title %}
	{{parent()}}
	| Ajout d'espèces
{% endblock %}

{% block content %}
	<h1>Ajout Espèces Admin</h1>
	{% include "formAdminEdit.html.twig" %}
{% endblock %}

{% block titleForm %}
	Formulaire d'ajout d'espèces
{% endblock %}
