{% extends "layoutAdmin.html.twig" %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/organism.css">
{% endblock %}

{% block title %}
	{{parent()}}
	| Édition d'espèces
{% endblock %}

{% block content %}
	<section class="section-form">
		<div class="container h-100">
			<div class="row justify-content-center align-items-center h-100">
				<div class="col col-xl-10">
					<div class="card shadow-lg vh-100">
						<div class="row g-0">
							<div class="col-md-6 col-lg-5 d-block custom-block">
								<img class="w-100 h-100" src={{organism.picture is null ? "/assets/images/imgPlaceHolder.jpg" : organism.picture}} alt="Image de l'espèce">
							</div>
							<div class="col-md-6 col-lg-7 m-auto d-flex align-items-center">
								<div class="card-body p-4 p-lg-5 text-black">
									{% include "formAdminOrga.html.twig" with {'title': 'Édition espèces admin', 'btn': 'Mettre à jour'} %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
