{% extends 'layout.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/footer.css">
{% endblock %}

{% block footer %}

	<footer class="container-fluid my-5">
		<div class="bg-primary">
			<div class="container p-4">
				<div class="row">
					<div class="col-6">
						<div class="text-white text-center mt-3 text-decoration-none">
							<p>Association<br>Les Corbeaux - Gâtinais Nature</p>
							<p>B.P. 924 - 45800 Amilly</p>
							<p>Téléphone : 06 71 47 52 21</p>
							<p>E-mail : gatinaisnature@orange.fr</p>
						</div>
					</div>
					<div class="col-6 d-flex flex-column justify-content-center">
						<ul class="list-unstyled mb-0">
							<li class="mb-5">
								<h5 class="text-center">
									<a class="text-white text-decoration-none" href="#!">Se connecter</a>
								</h5>
							</li>
							<li class="mt-5">
								<h5 class="text-center">
									<a class="text-white text-decoration-none" href="#!">Mentions légales</a>
								</h5>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>

{% endblock %}
