{% extends "layout.html.twig" %}

{% block stylesheet %}
	<link rel="stylesheet" href="/../assets/css/error.css">
{% endblock %}

{% block title %}
	{{parent()}}
	| Erreur
{% endblock %}

{% block content %}
	<div class="container min-vh-100 text-center d-flex justify-content-center align-items-start p-5">
		<div class="row">
			<div class="col-10 m-auto">
				<div class="card d-flex justify-content-center align-items-center p-5">
					<h1>Erreur 401</h1>
					<p>Vous n'avez pas les autorisations nécessaires pour continuer, veuillez revenir sur la page principale.</p>
					<img src="/assets/images/corbakeu.jpg" alt="401 image not authorized">
					<div class="btn-style col-10 col-sm-6 m-4">
						<a class="btn bg-primary text-white w-100" href="/">Retour</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
