{% extends "layout.html.twig" %}

{% block stylesheet %}
	<link rel="stylesheet" href="/../assets/css/error.css">
	<link rel="stylesheet" href="/../assets/css/birds.css">
{% endblock %}

{% block title %}
	{{parent()}}
	| Erreur
{% endblock %}

{% block content %}
	<section class="section-error">
		<div class="container h-100">
			<div class="row d-flex justify-content-center align-items-center h-100">
				<div class="col col-xl-10">
					<div class="card shadow-lg">
						<div class="row g-0">
							<div class="col-md-6 col-lg-5 d-block custom-block">
								<img class="w-100 h-100" src="/assets/images/corbakeu.jpg" alt="Image de l'erreur">
							</div>
							<div class="col-md-6 col-lg-7 m-auto d-flex align-items-center">
								<div class="card-body p-4 p-lg-5 text-black">
									<div class="mb-4">
										<span class="h1 fw-bold mb-0">Erreur 401</span>
									</div>

									<div class="mb-5">
										<p>Vous n'avez pas les autorisations nécessaires pour continuer, veuillez revenir sur la page principale.</p>
									</div>
									<div class="pt-1 mb-4">
										<a class="btn btn-success btn-lg btn-block col-12 col-md-6" href="/">Retour</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="bird-container bird-container--one">
				<div class="bird bird--one"></div>
			</div>

			<div class="bird-container bird-container--two">
				<div class="bird bird--two"></div>
			</div>

			<div class="bird-container bird-container--three">
				<div class="bird bird--three"></div>
			</div>

			<div class="bird-container bird-container--four">
				<div class="bird bird--four"></div>
			</div>
		</div>
	</section>
{% endblock %}
