{% extends 'layout.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/activity.css">
{% endblock %}

{% block content %}
	{# fake navbar TO REMOVE  area#}
	<nav class="navbar navbar-expand-lg bg-primary">
		<div class="container-fluid text-light">
			<a class="navbar-brand text-light" href="#">Navbar</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link text-light active" aria-current="page" href="#">Home</a>
					</li>
					<li class="nav-item ">
						<a class="nav-link text-light" href="#">Features</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-light" href="#">Pricing</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-light disabled">Disabled</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	{# events  area#}
	<h1 class="text-center m-3">
		Les evenements</h1>
	<div class="row justify-content-around text-light">
		<div class="card bg-success col-3 m-3 p-0" style="width: 18rem;">
			<img class="rounded-top" src="https://img.freepik.com/photos-gratuite/route-etroite-dans-champ-herbeux-vert-entoure-arbres-verts-soleil-eclatant-arriere-plan_181624-9968.jpg?w=2000" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title text-center">Vendredi 21 Janvier</h5>
				<p class="card-text text-center">Visite de la foret de Longchamps</p>
				<p class="card-text fw-bold text-center">15€/pers</p>
			</div>
		</div>
		<div class="card bg-success col-3 m-3 p-0" style="width: 18rem;">
			<img class="rounded-top" src="https://img.freepik.com/photos-gratuite/route-etroite-dans-champ-herbeux-vert-entoure-arbres-verts-soleil-eclatant-arriere-plan_181624-9968.jpg?w=2000" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title text-center">Jeudi 2 Avril</h5>
				<p class="card-text text-center">Reparation des nids de chouette</p>
				<p class="card-text text-center">5€/pers</p>
			</div>
		</div>
		<div class="card bg-success col-3 m-3 p-0" style="width: 18rem;">
			<img class="rounded-top" src="https://img.freepik.com/photos-gratuite/route-etroite-dans-champ-herbeux-vert-entoure-arbres-verts-soleil-eclatant-arriere-plan_181624-9968.jpg?w=2000" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title text-center">Lundi 15 Décembre</h5>
				<p class="card-text text-center">Repas de noel avec l'association</p>
				<p class="card-text text-center">12€/pers</p>
			</div>
		</div>
	</div>
	{# birds protection activity area #}
	<div class="activitySection row justify-content-around align-items-center m-5">
		<div class="col-lg-4">
			<h2 class="text-center m-5 essai">Protection de la chouette</h2>
			<p class="text-center">entore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
																																																																																																																																			 Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia c
																																																																																																																																			 Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia c
																																																																																																																																			 Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia c
																																																																																																																																			 Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia c
			</p>
		</div>
		<div class="col-lg-4">
			<img class="activityImg rounded" src="https://img.freepik.com/photos-gratuite/route-etroite-dans-champ-herbeux-vert-entoure-arbres-verts-soleil-eclatant-arriere-plan_181624-9968.jpg?w=2000" alt="" srcset="">
		</div>

	</div>

	{# counting activity area #}
	<div class="activitySection row justify-content-around align-items-center m-5">
		<div class="col-lg-4">
			<h2 class="text-center m-5 essai">Comptage des nids de rapaces</h2>
			<p class="text-center">entore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
																																																																																																																																			 Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia c
																																																																																																																																			 Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia c
																																																																																																																																			 Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia c
																																																																																																																																			 Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia c
			</p>
		</div>
		<div class="col-lg-4">
			<img class="activityImg rounded" src="https://img.freepik.com/photos-gratuite/route-etroite-dans-champ-herbeux-vert-entoure-arbres-verts-soleil-eclatant-arriere-plan_181624-9968.jpg?w=2000" alt="" srcset="">
		</div>

	</div>

{% endblock %}
