
{% extends "layoutAdmin.html.twig" %}{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/activity-index.css">
{% endblock %}{% block title %}
    {{parent()}}
    | Activités
{% endblock %}{% block content %}
    <div class="container block-form vh-100">
        <div class="row pt-4">
            <h1 class="text-center">Activités Version Admin</h1>
            <div class="col-12 col-sm-10 m-auto">
                <div class="card card-admin mt-4 overflow-auto">
                    <ul class="p-4">
                        {% for activity in activities %}
                            <li class="d-flex justify-content-between align-items-center mt-4">
                                {{activity.title}}
                                <div class="link-admin d-flex gap-3 align-items-center">
                                    <div class="btn btn-primary">
                                        <a href="/admin/activites/editer?id={{activity.id}}">Éditer</a>
                                    </div>
                                        <form action="/admin/activites/supprimer" method="POST">
                                            <input type="hidden" name="id" value="{{ activity.id }}">
                                            <button class="btn btn-danger">Supprimer</button>
                                        </form>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="add-entry">
                    <a class="btn btn-secondary" href="/admin/activites/ajouter">Ajouter</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}