{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Activities</h1>
    <ul>
        {% for activity in activities %}
            <li>{{ activity.title }}
			<a href="#">Editer</a>
			<a href="#">Supprimer</a>
			</li>
        {% else %}
            <li>Nothing to display</li>
        {% endfor %}
    </ul>
    <a href="/activity/add">Ajouter</a>
{% endblock %}